<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Nicole Williams!</h1>
		<p>Welcome to my blog!  I am in my second week of completing Mackenzie Child's Ruby on Rails 12-in-12 application challenge.</p>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Instagram <a href="https://instagram.com/newlyminted.me">@NewlyMinted.Me</a>, check out my code at Github <a href="https://github.com/nwilliamsnola">github/nwilliamsnola</a>, or on the web at <a href="https://southerngirlslimdown.wordpress.com/">newlyminted.me</a>.</p>
		<p>Thank you and have an awesome day!</p>
	</div>
</div>